{
  "check-coverage": true,
  "per-file": true,
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0,
  "include": [
    "**/*.js"
  ],
  "exclude": [
    "test/**",
    "coverage/**",
    "mochawesome-report/**"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "html"
  ],
  "cache": true,
  "all": true
}
