extends layout

block content
	h1 basejs
	p Server is running
	a(href='/api/ui') API Documentation - Swagger 2
	br
	br
	a(href='/api/ui?url=http://localhost:3000/api3.yaml') API Documentation - OpenAPI 3
